@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}



.autocenter {
    margin: auto;
    max-width: 1200px;
    margin-top: 100px;
}

.hero{
    display: flex;
    align-items: center;
}

.hero .left-text{
    width: 50%;
    align-items: center;
    justify-content: center;
    
}

.hero .left-text h1 {
    font-size: 3em;
    color: #ff3b4a;
}

.hero .left-text h3 {
    font-size: 2.5em;
    color: #91c3ec;
}

.hero .left-text button {
    padding: 10px 20px;
    background-color: #ff3b4a;
    border-radius: 15px;
    border: none;
    margin-top: 15px;

}

.hero .left-text button a{
    text-decoration: none;
    color: white;
}
.hero .right-image{
    width: 50%;
}

.hero .right-image img {
    width: 100%;
}

.content {
    text-align: justify;
    max-width: 90%;
}

.content h3 {
    text-align: center;
    font-size: 3em;
}