@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

:root{
    --color-esqueleto:#EFF3F5;
}


.cover{
    width: 100%;
    height: 500px;
    background: rgb(42,42,51);
    background: linear-gradient(90deg, rgba(42,42,51,1) 0%, rgba(9,31,16,1) 100%);
    margin-top: 20px;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: rgb(42,42,51);
    background: linear-gradient(90deg, rgba(42,42,51,1) 0%, rgba(9,31,16,1) 100%);
    margin: 20px;
}


footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(./background-footer.svg);
    background-size: cover;
    margin-top: 100px;
    
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #50FF7D;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: white;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: white;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: white;
}